/* $Id$ */

fieldset legend {
  left: 6px;
}
ul.action-links li a,
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  zoom: 1;
}
.comment .attribution {
  float: right;
}
.comment .comment-arrow {
  position: absolute;
  right: 25px;
}
.region-header .block,
.region-header #block-user-login .form-item {
  float: none;
  display: inline;
  vertical-align: top;
}
.region-header #block-user-login .item-list li {
  float: none;
}
.region-header #block-user-login .item-list li.last {
  padding-right: 0;
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background-position: right -3px;
  padding-right: 20px;
  zoom: 1;
}
#main-menu ul.links li {
  margin: 0;
}
#main-menu ul.links li,
#main-menu ul.links li a {
  display: inline;
  float: none;
  margin: 0;
  zoom: 1;
}
#footer li {
  display: inline;
  float: none;
}
