/* $Id$ */

#profile-fields td.category {
  font-weight: bold;
}
#profile-fields tr.category-message {
  color: #999;
}
#profile-fields tr.category-populated {
  display: none;
}
