/* $Id$ */

/**
 * @file Basic css that does not use import
 */


body {
  margin: 0;
  padding: 0;
  background: #edf5fa;
  font: 76%/170% Verdana, sans-serif;
  color: #494949;
}

.this .is .a .test {
  font: 1em/100% Verdana, sans-serif;
  color: #494949;
}

/**
 * CSS spec says that all whitespace is valid whitespace, so this selector
 * should be just as good as the one above.
 */
.this
.is
.a
.test {
font: 1em/100% Verdana, sans-serif;
color: #494949;
}

some :pseudo .thing {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10')";
}

::-moz-selection {
  background: #000;
  color:#fff;

}
::selection {
  background: #000;
  color: #fff;
}

@media print {
  * {
    background: #000 !important;
    color: #fff !important;
  }
  @page {
    margin: 0.5cm;
  }
}

@media screen and (max-device-width: 480px) {
  background: #000;
  color: #fff;
}

textarea, select {
  font: 1em/160% Verdana, sans-serif;
  color: #494949;
}

