/* $Id$ */

#node-admin-content dl.multiselect dd .form-item label {
  display: block;
  float: right;
  width: 6em;
  font-weight: normal;
}

#node-admin-buttons {
  float: right;
  margin-left: 0;
  margin-right: 0.5em;
  clear: left;
}
