/* $Id$ */

.update .project {
  padding-right: .25em;
}

.update .version-status {
  float: left;
  padding-left: 10px;
}

.update .version-status .icon {
  padding-right: .5em;
}

.update table.version .version-title {
  padding-left: 1em;
}

.update table.version .version-details {
  padding-left: .5em;
  direction: ltr;
}

.update table.version .version-links {
  text-align: left;
  padding-left: 1em;
}

.update .check-manually {
  padding-right: 1em;
}
