/* $Id$ */

/**
 * Generic elements.
 */
ul,
.block ul,
.item-list ul,
.item-list ul {
  margin: 0.25em 1.5em 0.25em 0;
}

/* User login block */
#user-login-form .openid-links {
  margin-right: 0;
}
#user-login-form .openid-links .user-link {
  margin-left: 0;
  margin-right: 1.5em;
}

/* Sortable tables */
table th.active a {
  padding: 0 0 0 25px;
}
