/* $Id$ */

body {
  /* Center layout */
  text-align: center;
}

#header-region,
#wrapper #container {
  /* Reset text alignment */
  text-align: left; /* LTR */
}

#wrapper #container #center {
  /* Reduce amount of damage done by extremely wide content */
  overflow: hidden;
}

#wrapper #container #center .right-corner .left-corner {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 400px;
}

fieldset {
  /* Don't draw backgrounds on fieldsets in IE, as they look really bad. */
  background: none;
}

div.vertical-tabs ul.vertical-tabs-list li.first {
  background-image: none;
}

ul.primary {
  /* Fix missing top margin */
  position: relative; /* LTR */
/*  top: 0.5em; */
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
  top: -1em;
}
html.js fieldset.collapsed {
  top: 0;
  margin-bottom: 1em;
}

tr.menu-disabled {
  /* Use filter to emulate CSS3 opacity */
  filter: alpha(opacity=50);
}

#header-region {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 1em;
}

tr.taxonomy-term-preview {
  filter: alpha(opacity=50);
}

#attach-hide label,
#uploadprogress div.message {
  /* Fading elements in IE causes the text to bleed unless they have a background. */
  background-color: #ffffff;
}
