/* $Id$ */

.search-advanced .criterion {
  float: right;
  margin-right: 0;
  margin-left: 2em;
}
.search-advanced .action {
  float: right;
  clear: right;
}
.search-results .search-snippet-info {
  padding-right: 1em; /* LTR */
}